<!DOCTYPE html>
<html dir="ltr" lang="en-US">
    <head>
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href={{asset('assets/css/bootstrap.css')}} >
        <link rel="stylesheet" href={{asset('assets/css/general.css')}} >

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="content-type" content="text/html; charset=utf-8">  
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src={{asset("assets/js/functions.js")}}></script>
        {# Document Title
        ============================================= -->#}
        <title>Home - Full Screen Image | Canvas</title>
    </head>

    <body class="stretched">
        {% block body %}
        {% endblock %}
    </body>
</html>