{% extends 'index.html.twig'%}

{% block body %}
    {% if contacto.idContacto is null%}
        {% set id = 0 %}
    {% else %}
        {% set id = contacto.idContacto %}
    {% endif %}
    <form enctype="multipart/form-data" method="post" action="{{path('guardar_contacto',{'idContacto': id})}}">
        <div style="margin-left: 20px">
            Name: <input required style="margin-bottom: 5px" type="text" name="name" value="{% if contacto is not null %}{{contacto.name}}{% endif %}"><br>
            Last name: <input required style="margin-bottom: 5px" type="text" name="lastName" value="{% if contacto is not null %}{{contacto.lastName}}{% endif %}"><br>
            Email: <input required style="margin-bottom: 5px"  type="email" name="email" value="{% if contacto is not null %}{{contacto.email}}{% endif %}"><br>
            Country: <select name="country" required selected="{% if contacto is not null %}{{contacto.country}}{% endif %}">
                <option {% if contacto is not null and contacto.country == 'Spain' %}selected="selected"{% endif %} value="Spain">Spain</option>
                <option {% if contacto is not null and contacto.country == 'France' %}selected="selected"{% endif %}value="France">France</option>
                <option {% if contacto is not null and contacto.country == 'Italy' %}selected="selected"{% endif %}value="Italy">Italy</option>
            </select>
            <br><br>
        </div>
        <button style="margin-left: 20px" type="submit" class="btn btn-default"><i class="fa fa-plus-square"></i> Guardar </button>
    </form>

{% endblock %}