{% extends 'index.html.twig'%}

{% block body %}

    <div style="margin: 20px 40%;">
        <form id="target" action="{{path('contacto_detalle',{'idContacto':0})}}" style="display: inline-block;" method="post">
            ----><button type="submit" id="botonAnyadir"  class="btn btn-circle anyadirNuevo" onclick=""  style="background-image: url({{asset("imagenes/editar.png")}});margin-left: 13px"/>
            Nuevo contacto
            </button> <----
        </form>
    </div>

    <div class="table-responsive">
        <table id="tabla" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Borrar</th>
                    <th>Editar</th>
                    <th>Name</th>
                    <th>Lastname</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                {% for contacto in contactos %}
                    <tr>
                        <td style="width: 58px;">
                            <form id="target" action="{{path('borrarContacto',{'idContacto':contacto.idContacto})}}" style="display: inline-block;margin-left: -12px;" method="post">
                                <button type="submit" id="botonAnyadir"  class="btn btn-circle anyadirNuevo" onclick=""  style="background-image: url({{asset("imagenes/editar.png")}});margin-left: 13px"/>
                            </form>
                        </td>
                        <td style="width: 58px;">
                            <form id="target" action="{{path('contacto_detalle',{'idContacto':contacto.idContacto})}}" style="display: inline-block;margin-left: -12px;" method="post">
                                <button type="submit" id="botonAnyadir"  class="btn btn-circle anyadirNuevo" onclick=""  style="background-image: url({{asset("imagenes/editar.png")}});margin-left: 13px"/>
                            </form>
                        </td>
                        <td>
                            {{contacto.name}}
                        </td>
                        <td>
                            {{contacto.lastName}}
                        </td>
                        <td>
                            {{contacto.email}}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}